body{background-color: #222831;}
hr{border-style: none;
  border-top-style: dotted;
width:15%;
height:0;
border-color: #eeeeee;
border-width: 15px;
background-color: #222831;}
h1 {color:#eeeeee;}
h3 {color:#eeeeee;}
p {
  color: #00adb5;
}
ol{color: #00adb5;}
ul{color: #00adb5;}
img{height: 200px;
width:200px;}
div{
background-color:#393e46;
}
